<br>

<h4>Admin Section</h4>

<div class="row">
    <select id="line-elements">
        <option>Line Elements</option>
    </select>
    <!-- <select id="peergroup"      multiple="multiple"></select> -->
    <select id="pick-x-y-axis" multiple="multiple"></select>
    <!-- DivTable.com -->
</div>
<br>
<br>
<div class="row">
    <table id="points-table" class="table table-bordered">
        <thead>
            <tr>
                <th>Line Item</th>
                <th>xAxis</th>
                <th>yAxis</th>
                <th>Array-Position</th>
                <th>CalloutText</th>
                <th>Graph-Y-axis-position</th>
                <th>Graph-X-axis-position</th>
                <th>Box Type</th>
                <th>Angle</th>
                <th>Height</th>
                <th>Width</th>
                <th>color picker</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="row">
    <button id="gen-graph" type="button" class="btn btn-success">Generate Graph</button>
    <button id="store-callouts" type="button" class="btn btn-success">All Set</button>
</div>
