{% extends "base_ninja.html" %}

{% block jscontent %}
    <title>NINJA Analytics and Reporting Portal - VBO  Module</title>
    {% load staticfiles %}
    <link href="{% static "feedback_me/css/jquery.feedback_me.css" %}" rel="stylesheet" type="text/css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
    <script src="http://momentjs.com/downloads/moment-timezone-with-data.js"></script>
    <script src="{% static "highcharts/highcharts.js" %}"></script>
    <script src="{% static "highcharts/exporting.js" %}"></script>

    <script src="{% static "bower_components/underscore/underscore.js" %}"></script>
    <script src="{% static "feedback_me/js/jquery.feedback_me.js" %}"></script>
    <script src="{% static "js/customjs/common.js" %}"></script>
    <script src="{% static "js/customjs/vbo/main.js" %}"></script>
    <!-- <script src="{% static "js/customjs/vbo/daily.js" %}"></script>
    <script src="{% static "js/customjs/vbo/weekly.js" %}"></script>
 -->
<script>
$(document).ready(function()
{
    if ("{{error}}" == 'N') {
       $('#loginid').html("{{request.session.userid}}")
    }
}
)
</script>
<style>
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

td {
  padding: 5px;
  border:1px solid;
  
} 
td.right-align{
  text-align: right;  
}

</style>
    
{% endblock jscontent %}

{% block content %}
    {% load staticfiles %}
    <div class="container-fluid" >
        
        <div class="row">            
            <div class="col-sm-4" >
                  <select class="form-control" id="report_names">
                    <option>Pick Your Report</option>
                  </select>
            </div>
            <div class="col-sm-4" >
                  <select class="form-control" id="report_dates">
                    <option>Pick Your Run Date</option>
                  </select>
            </div>
            <div class="col-sm-2" >
                  <input type="submit" class="btn btn-primary" value="Submit" id="report-submit">
            </div>
            <input type="text" name="report_id" id="report_id">
        <div id='animation-space'>
        <span class="help-block">&nbsp</span><span class="help-block">&nbsp</span><span class="help-block">&nbsp</span><span class="help-block">&nbsp</span>
        </div>

        <div class="col-md-8 col-md-offset-4" id="animation">
                <img src="{% static "animations/gauge-animation-2.gif" %}" alt="home background image">
        </div><!-- /.bg -->
        

        
        
        {% include "vbo_module/daily.html" %} 
        {% include "vbo_module/weekly.html" %} 

{% endblock content %}
   
