{% extends "base_ninja.html" %}

{% block jscontent %}
    <title>NINJA Analytics and Reporting Portal - VBO  Module</title>
    {% load staticfiles %}
    <link href="{% static "feedback_me/css/jquery.feedback_me.css" %}" rel="stylesheet" type="text/css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
    
    <script src="http://momentjs.com/downloads/moment-timezone-with-data.js"></script>

    <script src="{% static "highcharts/highcharts.js" %}"></script>
    <script src="{% static "highcharts/exporting.js" %}"></script>


    <script src="{% static "bower_components/underscore/underscore.js" %}"></script>
    <script src="{% static "feedback_me/js/jquery.feedback_me.js" %}"></script>
    <script src="{% static "js/customjs/common.js" %}"></script>
    <script src="{% static "js/customjs/vbo/main.js" %}"></script>

<script>
$(document).ready(function()
{
    if ("{{error}}" == 'N') {
       $('#loginid').html("{{request.session.userid}}")
    }
}
)
</script>
<style>
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

td {
  padding: 5px;
  border:1px solid;
  
} 
td.right-align{
  text-align: right;  
}

</style>
    
{% endblock jscontent %}

{% block content %}
    {% load staticfiles %}
    <div class="container-fluid" >
        
        <div class="row">            
            <div class="col-sm-4" >
                  <select class="form-control" id="report_names">
                    <option>Pick Your Report</option>
                  </select>
            </div>
            <div class="col-sm-4" >
                  <select class="form-control" id="report_dates">
                    <option>Pick Your Run Date</option>
                  </select>
            </div>
            <div class="col-sm-2" >
                  <input type="submit" class="btn btn-primary" value="Submit" id="report-submit">
            </div>
        <div id='animation-space'>
        <span class="help-block">&nbsp</span><span class="help-block">&nbsp</span><span class="help-block">&nbsp</span><span class="help-block">&nbsp</span>
        </div>

        <div class="col-md-8 col-md-offset-4" id="animation">
                <img src="{% static "animations/gauge-animation-2.gif" %}" alt="home background image">
        </div><!-- /.bg -->
        

        <span class="help-block">&nbsp</span><span class="help-block">&nbsp</span><span class="help-block">&nbsp</span><span class="help-block">&nbsp</span>
        
        <button class="btn-success" data-toggle="collapse" data-target="#html-reports" id="html-reports-btn" style="display:none">Summary</button>

        <div id="html-reports" class="collapse">
        <span class="help-block">&nbsp</span><span class="help-block">&nbsp</span>
            <table border="1" style="border-spacing: 1px;border-collapse: separate; padding: 10px" >
    <thead>
        <tr class="tableizer-firstrow" >
            <th id="report-date">May 31st, 2016</th>
            <th>Total</th>
            <th>Success %</th>
            <th>Error %</th>
            <th>Contribution of NBR Error %</th>
            <th>Definitions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Successful Setups</td>
            <td id='successful-setup-total' class="right-align">15,297,155</td>
            <td id='successful-setup-success' class="right-align">&nbsp;</td>
            <td id='successful-setup-error' class="right-align">&nbsp;</td>
            <td id='successful-setup-nbr' class="right-align">&nbsp;</td>
            <td>Only successful setups (includes sessions that later resulted in a teardown failure)</td>
        </tr>
        <tr>
            <td>Business Rules</td>
            <td id='business-rules-total' class="right-align">29,906</td>
            <td id='business-rules-success' class="right-align">99.80%</td>
            <td id='business-rules-error' class="right-align">0.20%</td>
            <td id='business-rules-nbr' class="right-align">&nbsp;</td>
            <td>Total of all BR denials listed on https://wiki.io.comcast.net/display/VIDSS/VBO+-+Troubleshooting+-+BNI+VOD+Errors</td>
        </tr>
        <tr>
            <td>Non Business Rules</td>
            <td id='non-business-rules-total' class="right-align">156,924</td>
            <td id='non-business-rules-success' class="right-align">98.99%</td>
            <td id='non-business-rules-error' class="right-align">1.01%</td>
            <td id='non-business-rules-nbr' class="right-align">&nbsp;</td>
            <td>All error mappings for each bucket listed on https://wiki.io.comcast.net/display/VIDSS/VBO+-+Troubleshooting+-+BNI+VOD+Errors</td>
        </tr>
        <tr>
            <td>UDB</td>
            <td id='udb-total' class="right-align">2,048</td>
            <td id='udb-success' class="right-align">99.99%</td>
            <td id='udb-error' class="right-align">0.01%</td>
            <td id='udb-nbr' class="right-align">1.31%</td>
            <td>NBRFs categorized as related to UDB</td>
        </tr>
        <tr>
            <td>CDN</td>
            <td id='cdn-total' class="right-align">36,208</td>
            <td id='cdn-success' class="right-align">&nbsp;</td>
            <td id='cdn-error' class="right-align">&nbsp;</td>
            <td id='cdn-nbr' class="right-align">23.07%</td>
            <td>NBRFs categorized as related to CDN</td>
        </tr>
        <tr>
            <td> CDN Setup</td>
            <td id='cdn-setup-total' class="right-align">36,208</td>
            <td id='cdn-setup-success' class="right-align">&nbsp;</td>
            <td id='cdn-setup-error' class="right-align">&nbsp;</td>
            <td id='cdn-setup-nbr' class="right-align">23.07%</td>
            <td>NBRFs categorized as related to Streamer setup issues</td>
        </tr>
        <tr>
            <td> CM Connect (CDN)</td>
            <td id='cdn-connect-total' class="right-align">36,208</td>
            <td id='cdn-connect-success' class="right-align">&nbsp;</td>
            <td id='cdn-connect-error' class="right-align">&nbsp;</td>
            <td id='cdn-connect-nbr' class="right-align">23.07%</td>
            <td>NBRFs categorized as CM_CONNECT errors (0x8002/408)</td>
        </tr>
        <tr>
            <td>Network (Network Teardowns)</td>
            <td id='net-total' class="right-align">36,208</td>
            <td id='net-success' class="right-align">&nbsp;</td>
            <td id='net-error' class="right-align">&nbsp;</td>
            <td id='net-nbr' class="right-align">23.07%</td>
            <td>NBRFs categorized as related to Network teardowns (specifically, 0x9998/408 and 0x9998/409)</td>
        </tr>
        <tr>
            <td>Field</td>
            <td id='field-total' class="right-align">36,208</td>
            <td id='field-success' class="right-align">&nbsp;</td>
            <td id='field-error' class="right-align">&nbsp;</td>
            <td id='field-nbr' class="right-align">23.07%</td>
            <td>NBRFs categorized as related to Field</td>
        </tr>
        <tr>
            <td> Field/Plant</td>
            <td id='field-plant-total' class="right-align">36,208</td>
            <td id='field-plant-success' class="right-align">&nbsp;</td>
            <td id='field-plant-error' class="right-align">&nbsp;</td>
            <td id='field-plant-nbr' class="right-align">23.07%</td>
            <td>NBRFs categorized as related to Plant-related issues associated with the edge devices or network-related setup issues</td>
        </tr>
        <tr>
            <td> VideoLost QAM OK</td>
            <td id='video-total' class="right-align">36,208</td>
            <td id='video-success' class="right-align">&nbsp;</td>
            <td id='video-error' class="right-align">&nbsp;</td>
            <td id='video-nbr' class="right-align">23.07%</td>
            <td>NBRFs categorized as VideoLost QAM OK Errors (0x8012/408)</td>
        </tr>
        <tr>
            <td> Tune Errors</td>
            <td id='tune-total' class="right-align">36,208</td>
            <td id='tune-success' class="right-align">&nbsp;</td>
            <td id='tune-error' class="right-align">&nbsp;</td>
            <td id='tune-nbr' class="right-align">23.07%</td>
            <td>NBRFs categorized as tune errors (0x8001/400)</td>
        </tr>
        <tr>
            <td>VCP</td>
            <td id='vcp-total' class="right-align">36,208</td>
            <td id='vcp-success' class="right-align">&nbsp;</td>
            <td id='vcp-error' class="right-align">&nbsp;</td>
            <td id='vcp-nbr' class="right-align">23.07%</td>
            <td>NBRFs categorized as related to internal to the VBO</td>
        </tr>
        <tr>
            <td>Other Setup</td>
            <td id='other-setup-total' class="right-align">36,208</td>
            <td id='other-setup-success' class="right-align">&nbsp;</td>
            <td id='other-setup-error' class="right-align">&nbsp;</td>
            <td id='other-setup-nbr' class="right-align">23.07%</td>
            <td>NBRFs categorized as not belonging to any of the categories listed above</td>
        </tr>
    </tbody>
</table>

        <span class="help-block">&nbsp</span><span class="help-block">&nbsp</span>


        <table border="1" style="border-spacing: 1px;border-collapse: separate; padding: 10px; cellpadding:10px" >
        <thead><tr class="tableizer-firstrow"><th>STB Type View</th><th>Daily</th></tr></thead><tbody>
         <tr><td>X1 STB NBRF Rate</td><td id="x1-stb-nbr-rate">0.95%</td></tr>
         <tr><td>Legacy STB NBRF Rate</td><td id="legacy-stb-nbr-rate">1.12%</td></tr>
         <tr><td>National NBRF Rate</td><td id="national-stb-nbr-rate">1.01%</td></tr>
        </tbody></table>

        <span class="help-block">&nbsp</span><span class="help-block">&nbsp</span>

        </div>

        <div class="row">
            <div class="col-md-8" id="vbo-stb-error-rates"></div>
            <div class="col-md-4" id="vbo-stb-error-rates-comments" style="display:none">
                <div class="form-group">
                    <textarea class="form-control" rows="10" id="report-1-comments-txt" placeholder="Please provide your comments here..."></textarea>
                </div>
                <div class="col-sm-2" >
                  <input type="submit" class="btn btn-success" value="Update Comments" id="report-1-submit">
                </div>
            </div>

        </div>
            <!-- <div class="col-md-6" id="container_users_by_count"></div> -->
        </div>

        <span class="help-block">&nbsp</span><span class="help-block">&nbsp</span><span class="help-block">&nbsp</span><span class="help-block">&nbsp</span><span class="help-block">&nbsp</span><span class="help-block">&nbsp</span>

        <div class="row">
            <div class="col-md-8" id="vbo-nbrf-spikes"></div>
            <div class="col-md-4" id="vbo-nbrf-spikes-comments" style="display:none">
                <div class="form-group">
                    <textarea class="form-control" rows="10" id="report-2-comments-txt" placeholder="Please provide your comments here..."></textarea>
                </div>
                <div class="col-sm-2" >
                  <input type="submit" class="btn btn-success" value="Update Comments" id="report-2-submit">
                </div>
            </div>
            
        </div>

                <span class="help-block">&nbsp</span><span class="help-block">&nbsp</span><span class="help-block">&nbsp</span><span class="help-block">&nbsp</span><span class="help-block">&nbsp</span><span class="help-block">&nbsp</span>

        <div class="row">
            <div class="col-md-8" id="vbo-x1-vs-legacy"></div>
            <div class="col-md-4" id="vbo-x1-vs-legacy-comments" style="display:none">
                <div class="form-group">
                    <textarea class="form-control" rows="10" id="report-3-comments-txt" placeholder="Please provide your comments here..."></textarea>
                </div>
                <div class="col-sm-2" >
                  <input type="submit" class="btn btn-success" value="Update Comments" id="report-3-submit">
                </div>
            </div>
            
        </div>


        </div>        
    <div>
 
{% endblock content %}
   
