{% block content %}
Report-4
<div class="row">
    <div class="col-md-10" id="report-4-monthly"></div>
    <div class="col-md-4" id="report-4-monthly-comments" style="display:none">
        <div class="form-group">
            <textarea class="form-control" rows="10" id="report-4-monthly-comments-txt" placeholder="Please provide your comments here..."></textarea>
        </div>
        <div class="col-sm-2">
            <input type="submit" class="btn btn-success" value="Update Comments" id="report-4-submit">
        </div>
    </div>

</div>
{% endblock content %}