{% block content %}
Report-13
<div class="row">
    <div class="col-md-12" id="weekly-report-13"></div>
    <div class="col-md-10" id="report-weekly-13-comments" style="display:none">
        <div class="form-group">
            <textarea class="form-control" rows="10" id="report-weekly-13-comments-txt" placeholder="Please provide your comments here..."></textarea>
        </div>
        <div class="col-sm-2">
            <input type="submit" class="btn btn-success" value="Update Comments" id="report-weekly-13-submit">
        </div>
    </div>

</div>
{% endblock content %}