{% block jscontent %}   
    {% load staticfiles %}
    <!-- <script src="{% static "js/customjs/vbo/main.js" %}"></script> -->
{% endblock jscontent %}

{% block content %}

Report-16
<div class="row">
	
    <div class="col-md-8" id="report-16-1-weekly" >How are you</div>
    <div class="col-md-4" id="report-16-1-weekly-comments" style="display:none">
        <div class="form-group">
            <textarea class="form-control" rows="10" id="report-16-1-weekly-comments-txt" placeholder="Please provide your comments here..."></textarea>
        </div>
        <div class="col-sm-2">
            <input type="submit" class="btn btn-success" value="Update Comments" id="report-16-1-submit">
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-8" id="report-16-2-weekly"></div>
    <div class="col-md-4" id="report-16-2-weekly-comments" style="display:none">
        <div class="form-group">
            <textarea class="form-control" rows="10" id="report-16-2-weekly-comments-txt" placeholder="Please provide your comments here..."></textarea>
        </div>
        <div class="col-sm-2">
            <input type="submit" class="btn btn-success" value="Update Comments" id="report-16-2-submit">
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-8" id="report-16-3-weekly"></div>
    <div class="col-md-4" id="report-16-3-weekly-comments" style="display:none">
        <div class="form-group">
            <textarea class="form-control" rows="10" id="report-16-3-weekly-comments-txt" placeholder="Please provide your comments here..."></textarea>
        </div>
        <div class="col-sm-2">
            <input type="submit" class="btn btn-success" value="Update Comments" id="report-16-3-submit">
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-8" id="report-16-4-weekly"></div>
    <div class="col-md-4" id="report-16-4-weekly-comments" style="display:none">
        <div class="form-group">
            <textarea class="form-control" rows="10" id="report-16-4-weekly-comments-txt" placeholder="Please provide your comments here..."></textarea>
        </div>
        <div class="col-sm-2">
            <input type="submit" class="btn btn-success" value="Update Comments" id="report-16-4-submit">
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-8" id="report-16-5-weekly"></div>
    <div class="col-md-4" id="report-16-5-weekly-comments" style="display:none">
        <div class="form-group">
            <textarea class="form-control" rows="10" id="report-16-5-weekly-comments-txt" placeholder="Please provide your comments here..."></textarea>
        </div>
        <div class="col-sm-2">
            <input type="submit" class="btn btn-success" value="Update Comments" id="report-16-5-submit">
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-8" id="report-16-6-weekly"></div>
    <div class="col-md-4" id="report-16-6-weekly-comments" style="display:none">
        <div class="form-group">
            <textarea class="form-control" rows="10" id="report-16-6-weekly-comments-txt" placeholder="Please provide your comments here..."></textarea>
        </div>
        <div class="col-sm-2">
            <input type="submit" class="btn btn-success" value="Update Comments" id="report-16-6-submit">
        </div>
    </div>

</div>

{% endblock content %}