{% block jscontent %}   
    {% load staticfiles %}
    <!-- <script src="{% static "js/customjs/vbo/main.js" %}"></script> -->
{% endblock jscontent %}

{% block content %}

Report-16
<div class="row">
	
    <div class="col-md-8" id="weekly-report-16A"></div>
    <div class="col-md-4" id="report-weekly-16A-comments" style="display:none">
        <div class="form-group">
            <textarea class="form-control" rows="10" id="report-weekly-16A-comments-txt" placeholder="Please provide your comments here..."></textarea>
        </div>
        <div class="col-sm-2">
            <input type="submit" class="btn btn-success" value="Update Comments" id="report-weekly-16A-submit">
        </div>
    </div>


</div>
<div class="row">
    <div class="col-md-8" id="weekly-report-16B"></div>
    <div class="col-md-4" id="report-weekly-16B-comments" style="display:none">
        <div class="form-group">
            <textarea class="form-control" rows="10" id="report-weekly-16B-comments-txt" placeholder="Please provide your comments here..."></textarea>
        </div>
        <div class="col-sm-2">
            <input type="submit" class="btn btn-success" value="Update Comments" id="report-weekly-16B-submit">
        </div>
    </div>


</div>
<div class="row">
    <div class="col-md-8" id="weekly-report-16C"></div>
    <div class="col-md-4" id="report-weekly-16C-comments" style="display:none">
        <div class="form-group">
            <textarea class="form-control" rows="10" id="report-weekly-16C-comments-txt" placeholder="Please provide your comments here..."></textarea>
        </div>
        <div class="col-sm-2">
            <input type="submit" class="btn btn-success" value="Update Comments" id="report-weekly-16C-submit">
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-8" id="weekly-report-16D"></div>
    <div class="col-md-4" id="report-weekly-16D-comments" style="display:none">
        <div class="form-group">
            <textarea class="form-control" rows="10" id="report-weekly-16D-comments-txt" placeholder="Please provide your comments here..."></textarea>
        </div>
        <div class="col-sm-2">
            <input type="submit" class="btn btn-success" value="Update Comments" id="report-weekly-16D-submit">
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-8" id="weekly-report-16E"></div>
    <div class="col-md-4" id="report-weekly-16E-comments" style="display:none">
        <div class="form-group">
            <textarea class="form-control" rows="10" id="report-weekly-16E-comments-txt" placeholder="Please provide your comments here..."></textarea>
        </div>
        <div class="col-sm-2">
            <input type="submit" class="btn btn-success" value="Update Comments" id="report-weekly-16E-submit">
        </div>
    </div>


</div>



{% endblock content %}