{% block content %}
<span class='help-block'>&nbsp;</span>
<span class='help-block'>&nbsp;</span>

<div class="row">
    <div class="col-md-10" id="weekly-report-3"></div>
    <span class='help-block'>&nbsp;</span>
    <div class="col-md-10" id="report-weekly-3-comments" style="display:none">
        <div class="form-group">
            <textarea class="form-control" rows="10" id="report-weekly-3-comments-txt" placeholder="Please provide your comments here..."></textarea>
        </div>        
        <div class="col-sm-2">
            <input type="submit" class="btn btn-success" value="Update Comments" id="report-weekly-3-submit">
        </div>
    </div>

</div>
{% endblock content %}