div.callout {
     height: 80px;
     width: 130px;
     /*float: left;*/
     z-index: 1;
     /*word-wrap: initial !important;*/
     overflow-x: scroll;
     white-space: normal !important;
   }
   
   div.callout {
     background-color: #444;
     background-image: -moz-linear-gradient(top, #444, #444);
     position: relative;
     color: #ccc;
     padding: 10px;
     border-radius: 3px;
     box-shadow: 0px 0px 20px #999;
     //margin: 25px;
     min-height: 20px;
     border: 1px solid #333;
     text-shadow: 0 0 1px #000;
     /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;*/
   }
   
   .callout::before {
     content: "";
     width: 0px;
     height: 0px;
     border: 0.8em solid transparent;
     position: absolute;
   }
   
   .callout.left::before {
      left: 0%;
     right: -20px;
     top: 40%;
     border-left: 10px solid #444;
   }
   

   .callout.top::before {
     left: 0%;
     bottom: -20px;
     border-top: 11px solid #444;
   }
   
   .callout.bottom::before {
     left: 45%;
     top: -20px;
     border-bottom: 10px solid #444;
   }
   
   
   .callout.right::before {
     left: -20px;
     top: 20%;
     border-right: 10px solid #444;
   }
   
   .callout.top-left::before {
     /*left: 7px;*/
     bottom: -20px;
     border-top: 10px solid #444;
   }
   
   .callout.top-right::before {
     /*right: 7px;*/
     bottom: -20px;
     border-top: 10px solid #444;
<<<<<<< HEAD
   }

.slant:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-style: solid;
  transform: translate(-40%, -50%);
  border-width: 0 10px 20px 10px;
  border-color: transparent transparent black transparent;
}   
=======
   }
>>>>>>> f55fc0bdf4ebeec59da3a24e6862db594e7c79ed
