{% extends "base_ninja.html" %}

{% block jscontent %}
    <title>NINJA Analytics and Reporting Portal - VBO  Module</title>
    {% load staticfiles %}
    <link href="{% static "feedback_me/css/jquery.feedback_me.css" %}" rel="stylesheet" type="text/css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
    <script src="http://momentjs.com/downloads/moment-timezone-with-data.js"></script>
    <script src="{% static "highcharts/highcharts.js" %}"></script>
    <script src="{% static "highcharts/exporting.js" %}"></script>

    <script src="{% static "bower_components/underscore/underscore.js" %}"></script>
    <script src="{% static "feedback_me/js/jquery.feedback_me.js" %}"></script>
    <script src="{% static "js/customjs/common.js" %}"></script>
    <script src="{% static "js/customjs/et/main.js" %}"></script>
    <!-- <script src="{% static "js/customjs/vbo/daily.js" %}"></script>
    <script src="{% static "js/customjs/vbo/weekly.js" %}"></script>
 -->
<script>
$(document).ready(function()
{
    if ("{{error}}" == 'N') {
       $('#loginid').html("{{request.session.userid}}")
    }
}
)
</script>
<style>
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

td {
  padding: 5px;
  border:1px solid;
  
} 
td.right-align{
  text-align: right;  
}

</style>
    
{% endblock jscontent %}

{% block content %}
    {% load staticfiles %}
    <div class="container-fluid" >
        
        <div class="row">            
    <h1>Error Trending</h1>
    <div id="container"></div>
      <CENTER>
      <TABLE>
      <TR><TD colspan=2><B>Specific Month Reports</B></TD></TR>

      <TR><TD>Reference Month: <input type="text" id="month"></TD>
  <TD><select id="rtype">
    <option value="bestpgs_ec" selected>Best Peergroups by Error Count</option>
    <option value="worstpgs_ec">Worst Peergroups by Error Count</option>
    <option value="bestpgs_eps">Best Peergroups by Error % of Streams</option>
    <option value="worstpgs_eps">Worst Peergroups by Error % of Streams</option>
    <option value="bestpgs_ms">Best Market Shares of Errors</option>
    <option value="worstpgs_ms">Worst Market Shares of Errors</option>
  <option value="top_errors_count">Top Errors by Count</option>
        <option value="top_errors_percent">Top Errors by Percent</option>
  </select></TD></TR>
  <TR><TD>No. PGs requested:<input type="text" id="no_requested"></TD>
  <TD><button id="genChart" onclick="pieChart()">Generate Monthly Chart</button></TD></TR>

      <TR><TD colspan=2><B>Trending Month Reports</B></TD></TR>
  <TR><TD>Reference Month: <input type="text" id="trending_month"></TD>
        <TD><select id="trending_rtype">
        <option value="ec" selected>Error Count</option>
        <option value="eps">Error % of Streams</option>
        <option value="ms">Market Shares of Errors</option>
  <option value="de_counts">Specific Error Counts</option>
  <option value="de_pcts">Specific Errors (Percents)</option>
        </select></TD></TR>
       <TR><TD>Months requested:<input type="text" id="months_requested"></TD>
  <TD><button id="genChart" onclick="genChart()">Generate Trending Chart</button></TD></TR>
  </TABLE>
      </CENTER>   
        </div><!-- /.bg -->
    </div>
        

{% endblock content %}
   
