<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/19999/xhtml">

<head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Service Impact Database</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    
    <script src="{% static "js/customjs/ticket_list.js" %}"></script>
    <script src="{% static "js/customjs/date.js" %}"></script>

    <script src="{% static "js/jquery.timepicker.min.js" %}"></script>
    <script src="{% static "js/jquery.datetimepicker.full.min.js" %}"></script>

    <!--<script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}"></script>-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.datetimepicker.css" %}"/>
    <link rel="stylesheet" href="{% static "css/jquery.timepicker.css" %}">
    
    <script src="{% static "js/simplePagination.js/jquery.simplePagination.js" %}"></script>
    <link rel="stylesheet" href="{% static "js/simplePagination.js/simplePagination.css" %}" />

    <script src="{% static "multiselect/jquery.multiselect.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "multiselect/jquery.multiselect.css" %}"/>

    <script src="{% static "multiselect/jquery.multiselect.filter.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "multiselect/jquery.multiselect.filter.css" %}"/>

    

    <link href="{% static "feedback_me/css/jquery.feedback_me.css" %}" rel="stylesheet" type="text/css">
    <script src="{% static "feedback_me/js/jquery.feedback_me.js" %}"></script>

    <!-- <link rel="stylesheet"  type="text/css" media="print, projection, screen" href="{% static "__jquery.tablesorter/themes/blue/style.css" %}"/>
    <link rel="stylesheet"  type="text/css" media="print, projection, screen" href="{% static "__jquery.tablesorter/themes/bootstrap/theme.bootstrap.css" %}"/> -->

    <link rel="stylesheet"  type="text/css" media="print, projection, screen" href="{% static "tablesorter-master/css/theme.bootstrap.css" %}"/>

    <script src="{% static "tablesorter-master/js/jquery.tablesorter.js" %}"></script>
    <script src="{% static "tablesorter-master/js/jquery.tablesorter.widgets.js" %}"></script>


    <script>

    $(function() {


        curr_date = new Date()
        
        curr_date_3 = new Date()
        curr_date_3.setMonth(curr_date_3.getMonth() - 3)

        $('#datepicker').datetimepicker({
            value: curr_date,
            step: 10
        });
        $("#query_datepicker_start").datepicker({
            value: curr_date_3,
            step: 10
        });
        $("#query_datepicker_end").datepicker({
            value: curr_date,
            step: 10
        });
        $("#query_datepicker_start_end").datepicker({
            value: curr_date_3,
            step: 10
        });
        $("#query_datepicker_end_end").datepicker({
            value: curr_date,
            step: 10
        });
        $('#query_start_time').timepicker();
        $('#query_end_time').timepicker();
        //$( '#example' ).DataTable();


    });

    function checkval(sel) {
        //alert(sel.value)
    }

    var central = [10201, 10202, 10203, 10204, 10401, 10402, 10404, 11701, 11702, 11703, 11704, 11801, 11802, 11803, 12601, 12602, 12603, 12701, 12702, 12703, 12704, 13401, 13402, 13701, 13702, 13703, 13704, 13705, 13901, 13902, 14001, 14002, 14003, 14401, 14402, 14403, 14404, 14405, 14406, 14701, 14702, 14703, 14704, 14705, 14706, 14801, 14802, 14803, 14804, 14805, 14806, 18101, 21301, 21302, 21303, 21304, 21305, 21306, 23001, 23002, 23101, 23102, 23103, 23104, 23301, 23501, 23601, 23701, 23801]
    var western = [10101, 10102, 12301, 12303, 13001, 13801, 14502, 14503, 16801, 16802, 16803, 17101, 17102, 17201, 17301, 17302, 17401, 17402, 17403, 17404, 17405, 17406, 17407, 17501, 17502, 17503, 17504, 17505, 17801, 17802, 17803, 17804, 17805, 17806, 17807, 17901, 18201, 21601, 21702, 21704, 24001, 24601, 24602]
    var northeast = [10501, 10601, 10701, 10702, 10801, 10901, 11001, 11101, 11102, 11201, 11202, 11203, 11301, 11401, 11402, 13201, 13301, 13501, 13502, 13601, 14901, 15001, 15101, 15102, 15301, 15401, 15501, 15601, 15801, 15901, 16001, 16101, 16201, 16401, 16501, 16601, 16701, 16702, 16703, 16704, 16901, 16902, 17001, 18001, 18501, 18701, 18702, 18703, 18801, 18901, 19001, 19501, 19601, 19701, 19901, 20101, 20201, 20701, 22001, 22002, 22301, 22302, 23201]

    var national = central.concat(western).concat(northeast)

    function getval(sel, caller_function, pg_cds_array) {
        
        //Enable multiselect if All is selected  and disabled
        
        if (caller_function == "inputting") {
            pg_widget = "#peergroup";
        } else if (caller_function == "querying"){
            pg_widget = "#query_peergroup";
        }
        else {
            pg_widget = "#row_peergroup";
        }


        $(pg_widget).multiselect("enable");


        
        console.log('pg_widget == ', pg_widget)
        console.log('sel.value == ', sel.value)

        $(pg_widget).empty();
        
        if (sel.value == "Central") {
            items = central
        } else if (sel.value == "Northeast") {
            items = northeast
        } else if (sel.value == "Western") {
            items = western
        } else{
            items = national
            items = items.sort()
        }
        console.log('pg_widget ==', pg_widget)
        
        for (i = 0; i < items.length; i++) {
            $(pg_widget).append($('<option>', {
                value: items[i],
                text: items[i]
            })).multiselect('refresh')
        }

        $(pg_widget).multiselect("widget").find(":checkbox").each(function(){
            //This will check all the items to display in the dialog.
            //if (sel.value == 'All'){
            //    this.click();
            //    return true;
            //}

            if ((pg_cds_array[0] == 'ALL') ) {
                this.click();
            }
            else if (pg_cds_array.indexOf(this.value) > -1) {
                this.click();
            }
            else {
                return true;
            }

        })

        //if (sel.value == 'All'){
        //        $(pg_widget).multiselect("disable");
        //    }

    
        
        }
    </script>
</head>

<body>
    <!--<div id="container" style="width: 1280px;">-->
    <div class="container-fluid" >
        <div class="row">
            <div id="header"><img src="{% static "images/comcast_sid_logo_web.png" %}"></div>
        </div>

        <h4 style="text-align:center;color:red">Create a Ticket</h4>
        <!--
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="label label-info">Create a ticket</span>        
            </div>
        </div>
        <br>
        <!--<div class="create_container"  style="background-color: white; color: #666666; padding-left: 50px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px; font-size:10px">-->
        <div class="row" style="background-color:#505979;"> 
        <!--<div class="col-sm-1"></div>-->
        <div class="col-sm-11">

        <table class="table table-borderless">
            <tr>
                <!-- <th>Date</th>
                <th>Division</th>
                <th>Peergroup</th>
                <th>Duration (in minutes)</th>
                <th>Error Count</th>
                <th>Outage Cause</th>
                <th>System Caused</th> -->
            </tr>
            <tr>
                <td>
                    <div>
                    <input type="text" class="form-control input-sm" id="datepicker" onchange="checkval(this);">
                    </div>
                </td>
                <td>
                    <div>
                        <select id="division" class="form-control input-sm" onchange="getval(this,'inputting',[]);" >
                        <!--<select id="division">-->
                            <option></option selected>
                            <option selected='selected'>Division</option>
                            <option>National</option>
                            <option>Central</option>
                            <option>Northeast</option>
                            <option>Western</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div>
                        <select id="peergroup" name="peergroup" multiple="multiple"></select>
                    </div>
                </td>
                <td>
                    <div>
                        <select id="duration" class="form-control input-sm">
                            <option selected='selected'>Duration (in min)</option>
                            <option>1 - 15 minutes</option>
                            <option>15 - 30 minutes</option>
                            <option>30 - 60 minutes</option>
                            <option>1 - 3 hours</option>
                            <option>Greater than 3 hours</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div>
                        <select id="errorcount" class="form-control input-sm">
                            <option selected='selected'>Error Count</option>
                            <option>1,000 - 5,000</option>
                            <option>5,000 - 10,000</option>
                            <option>10,000 - 20,000</option>
                            <option>20,000 - 50,000</option>
                            <option>Greater than 50,000</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div>
                        <select id="cause" class="form-control input-sm">
                            <option selected='selected'>Outage Caused</option>
                            <option>Scheduled Maintenance</option>
                            <option>Scheduled Maintenance resulting in Outage</option>
                            <option>NSA Scheduled Maintenance resulting in Outage</option>
                            <option>Comcast System Unplanned Outage</option>
                            <option>Non-Comcast System Outage</option>
                        </select>
                    </div>
                </td>
                
                <td rowspan="2">
                    <input type="submit" style="text-align:center;background-color:gray" class="form-control input-sm" value="SUBMIT" id="upload">
                </td>
            </tr>
            <tr>
                <!--<td colspan="1">Additional Notes:-->
                <td>
                    <div>
                        <select id="subcause" class="form-control input-sm">
                            <option selected='selected'>System Caused</option>
                            <option>Backoffice</option>
                            <option>Cisco Pump</option>
                            <option>Arris Pump</option>
                            <option>Network</option>
                            <option>UDB</option>
                            <option>Content</option>
                            <option>Aloha Network</option>
                            <option>Billing System</option>
                            <option>Other</option>
                        </select>
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        <textarea id="additional_notes" placeholder="Additional Notes" class="form-control input-sm expandable" rows="1"></textarea>
                    </div>
                </td>
                <!--<td>Ticket #-->
                <td>
                    <div>
                        <input id="ticket_no" width="100%" placeholder="Ticket Number" class="form-control">
                    </div>
                </td>
                <td colspan="2">
                    
                        <span class="label label-default">Ticket Type</span>
                        <label class="radio-inline" for="radio1">
                        <input type="radio" id="radio1" name="tkt-radio" value='JIRA'>Jira</label>
                        <label class="radio-inline" for="radio2">
                        <input type="radio" id="radio2" name="tkt-radio" value='TTS'>TTS</label>
                        
                        
                        
                    
                </td>
                
            </tr>
        </table>
        </div>
        </div>
        
        
        
        <!-- <div class="row">
            <div class="col-md-12 text-center">
                <span class="label label-info">Filter Panel</span>        
            </div>
        </div> -->
        <h4 style="text-align:center;color:red">Filter Panel</h4>
        <!--
        <div id="accordion" class="search_container" style="background-color: #F9F1F1; color: #666666; padding-left: 50px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
        <h3> Filter Panel</h3>
        <div>
            <div>
            Create Date
            <input type="checkbox" name="vehicle" value="Bike">
            <input type="text" id="query_datepicker_start">
            <input type="text" id="query_datepicker_start_end">
            </div>
            <br>
            <div>
            End Date
            <input type="checkbox" name="vehicle" value="Bike">
            <input type="text" id="query_datepicker_end">
            <input type="text" id="query_datepicker_end_end">
            </div>
            <div>
            End Date
            <input type="checkbox" name="vehicle" value="Bike">
            <input type="text" id="query_datepicker_end">
            <input type="text" id="query_datepicker_end_end">
            </div>
            <br>
            <div>
            Ticket Num
            <input id="query_ticket_no" width="100%">
            </div>
            
        </div>
        -->

        
        <!--<div class="search_container" style="background-color: white; color: #666666; padding-left: 50px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px; ">-->
        <div class="row" style="background-color:#505979;"> 
        <!--<div class="col-sm-1"></div>-->
        <div class="col-sm-11">
        <table class="table table-borderless">
            <!-- <tr>
                <th>Start Date</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>End Date</th>
                <th>Ticket Num</th>
                <!--<th>Region</th>-->
                
                <!-- <th>Division</th>
                <th>Peergroup</th> -->
                <!-- <th>Outage Cause</th>
                <th>System Caused</th> -->
                <!--<th>Addt Notes</th>-->
        
            <!-- </tr> --> 

            
            <tr>
                <td>
                    <div colspan="2">
                    <input class="form-control input-sm" type="text" id="query_datepicker_start" placeholder="Start Date">
                    </div>
                    
                </td>
                <td colspan="1">
                    <div>
                    <input class="form-control input-sm" type="text" id="query_datepicker_start_end" placeholder="End Date">
                    </div>
                </td>
                <!--
                <td>
                    <input class="form-control input-sm" type="text" id="query_datepicker_end" placeholder="End Date Range">
                </td>
                <td>
                    <input class="form-control input-sm" type="text" id="query_datepicker_end_end" placeholder="End Date Range">
                </td>
                -->
                <td>
                    <div>
                        <input id="query_ticket_no" width="100%" placeholder="Ticket Number" class="form-control input-sm">
                    </div>
                </td>
                
                <td rowspan="0">
                <div> 
                    <input class="form-control" style="text-align:center;background-color:gray" type="submit" value="QUERY" id="query" >
                </div> 
                
                </td>
                </tr>

                <tr>
                <td>
                    <div>            
                        <select class="form-control input-sm" id="query_division" onchange="getval(this,'querying',[]);" >
                            <option selected='selected'>Division</option>
                            <option>All</option>
                            <option>National</option>
                            <option>Central</option>
                            <option>Northeast</option>
                            <option>Western</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="ui-widget">
                        <select id="query_peergroup" multiple="multiple"></select>
                    </div>
                </td>
                
                <td colspan="0">
                    <div>
                        <select id="query_cause" class="form-control input-sm">
                            <option selected='selected'>Outage Caused</option>
                            <option>All</option>
                            <option>Scheduled Maintenance</option>
                            <option>Scheduled Maintenance resulting in Outage</option>
                            <option>NSA Scheduled Maintenance resulting in Outage</option>
                            <option>Comcast System Unplanned Outage</option>
                            <option>Non-Comcast System Outage</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div>
                        <select id="query_subcause" class="form-control input-sm">
                            <option selected='selected'>System Caused</option>
                            <option>All</option>
                            <option>Backoffice</option>
                            <option>Cisco Pump</option>
                            <option>Arris Pump</option>
                            <option>Network</option>
                            <option>UDB</option>
                            <option>Content</option>
                            <option>Aloha Network</option>
                            <option>Billing System</option>
                            <option>Other</option>
                        </select>
                    </div>
                </td>
                <!-- <td>
                    <div class="ui-widget">
                        <input id="query_addt_notes" width="100%">
                    </div>
                </td> -->
                
                
                </tr>

            
        </table> 
        </div>
        </div>
    
    
    <br>
    
    <div id="sort-controls">
        <div id="pagination"></div>
        <!-- <div id="downloads">
            <span id="sorter">Sort:
                                <select id="columnDropdownWrapper">
                                        <option value="Author">Author Name</option>
                                        <option value="price">New Price</option>
                                        <option value="old_price">Old Price</option>
                                </select>
                                </span>
            <span id="orderer">Order:
                                <select id="orderDropdownWrapper">
                                        <option value="asc">Ascending</option>
                                        <option value="desc">Descending</option>
                                </select>
                                </span>
            <!-- <a href="#" id="exportExcel" />Excel&nbsp;<img src="{% static "img/ExcelImgSml.gif" %}" width="25" height="25" title="Export to Excel Spreadsheet" style="margin-right:10px"></a>&nbsp;
            <a href="#" id="exportpdf">PDF&nbsp;<img src="{% static "img/PDFImgSml.gif" %}" width="25" height="25" title="Export to PDF"></a>&nbsp; -->
        <!--</div> -->
    </div>
    <br>
    
    <div id="ticket_list"></div>

    

    <div id="dialog" title="Ticket Details">

        <div style="text-align: left">
            <table class="table table-striped dialog-table" border="0" cellpadding="15px">
            <!--<table class="CSSTableGenerator">-->
            <tr>
            <td class="leftcols">Created Date</td><td id="dialog_created_dt"><input class="form-control input-sm"></td>
            </tr>
            <tr>
            <td class="leftcols">Ticket Num</td><td id="dialog_ticket_num"><input class="form-control input-sm"></td>
            </tr>
            <tr>
            <td class="leftcols">Division</td><td id="dialog_division">
                        <select id="row_division" class="form-control input-sm" onchange="getval(this,'setting');">

                            <option selected></option>
                            <option>National</option>
                            <option>Central</option>
                            <option>Northeast</option>
                            <option>Western</option>
                        </select>

            </td>
            </tr>
            <tr>
            <td class="leftcols">PeerGroup</td><td id="dialog_pg">
                <select id="row_peergroup" multiple="multiple"></select>
            </td>
            </tr>
            <td class="leftcols">Duration</td><td id="dialog_duration">
                        <select class="form-control input-sm" id="row_duration">
                            <option>1 - 15 minutes</option>
                            <option>15 - 30 minutes</option>
                            <option>30 - 60 minutes</option>
                            <option>1 - 3 hours</option>
                            <option>Greater than 3 hours</option>
                        </select></td>
            <tr>
            <td class="leftcols">Error Count</td><td id="dialog_error_count">
                        <select class="form-control input-sm" id="row_error_count">
                            <option>1,000 - 5,000</option>
                            <option>5,000 - 10,000</option>
                            <option>10,000 - 20,000</option>
                            <option>20,000 - 50,000</option>
                            <option>Greater than 50,000</option>
                        </select></td>
            </tr>
            <tr>
            <td class="leftcols">Outage Caused</td><td id="dialog_outage_caused">
                        <select class="form-control input-sm" id="row_cause">
                            <option>Scheduled Maintenance</option>
                            <option>Scheduled Maintenance resulting in Outage</option>
                            <option>NSA Scheduled Maintenance resulting in Outage</option>
                            <option>Comcast System Unplanned Outage</option>
                            <option>Non-Comcast System Outage</option>
                        </select></td>
            </tr>
            <tr>
            <td class="leftcols">System Caused</td><td id="dialog_created_dt"><select class="form-control input-sm" id="row_system_cause">
                            <option>Backoffice</option>
                            <option>Cisco Pump</option>
                            <option>Arris Pump</option>
                            <option>Network</option>
                            <option>UDB</option>
                            <option>Content</option>
                            <option>Aloha Network</option>
                            <option>Billing System</option>
                            <option>Other</option>
                        </select></td>
            </tr>
            <tr>
            <td class="leftcols">Additional Notes</td><td id="dialog_addt_notes" contenteditable="true">
                <input id="row_addt_notes" type="text"></td>
            </tr>
            <tr style="display:none">
            <td>Ticket Type</td><td id="dialog_ticket_type">
                <input id="row_ticket_type" type="text"></td>
            </tr>
            </table>
        </div>

    </div>
    
    <div id="dialog_pg_select" title="PeerGroup Filter">
        <div style="text-align:left">
            <select size="5">
                <option value="1">Item #1</option>
                <option value="2">Item #2</option>
                <option value="3">Item #3</option>
                <option value="4">Item #4</option>
                <option value="5">Item #5</option>
                <option value="6">Item #6</option>
                <option value="7">Item #7</option>
            </select>
        </div>
    </div>

    <div id='footer'>

    </div>

    </div>

    <!-- container -->
    <!-- <table id="example" class="display" cellspacing="0" width- "100%">
        <thead>
            <tr>
                <th>Date</th>
                <th>Ticket#</th>
                <th>Division</th>
                <th>Peergroup</th>
                <th>Duration (in minutes)</th>
                <th>Error Count</th>
                <th>Outage Cause</th>
                <th>System Caused</th>
                <th>Addt Notes</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Date</th>
                <th>Ticket#</th>
                <th>Division</th>
                <th>Peergroup</th>
                <th>Duration (in minutes)</th>
                <th>Error Count</th>
                <th>Outage Cause</th>
                <th>System Caused</th>
                <th>Addt Notes</th>
            </tr>
        </tfoot>
    </table> -->
    <script>
    //function populate_grid(){
    //  example = [{"date":"02/14/2016", "division":"Central", "peergroup":"10101", "duration":10, "cause":"cause filler", "subcause":"subcause filler"}];
    //}

    // var load_datatable = function(initial) {
        
 //     data = {
 //                'start_date': $('#query_datepicker_start').val(),
 //                'end_date': $('#query_datepicker_end').val(),
 //                'division': $('#query_division').val(),
 //                'pg': $('#query_peergroup').val(),
 //                'error_count': $('#duration').val(),
 //                'outage_caused': $('#query_cause').val(),
 //                'system_caused': $('#query_subcause').val(),
 //                'initial': initial
 //                }
        
        // $("#example").dataTable({
        //     //"ajax": "{% static "example.txt" %}"
        //      //"processing":true,
        //      //"serverSide":true, if this is enabled then we can't paginate on the datatable
        //      "pageLength":10,
        //      "iDisplayLength":10,
        //      //"paging":true,
        //      //"pagingType":"full_numbers",
        //      "ajax":{
        //          "processing":true,
        //          url: '/get-ticket-data',
        //          "type":"POST",
        //          "data": data
        //      },
         
        //      "destroy":true,
        // });
    // }

    
    

    </script>
</body>

</html>
