<button class="btn-success" data-toggle="collapse" data-target="#filter-addt-fields">Filter Additional Fields</button>

<div id="filter-addt-fields" class="collapse">
    <br>
    <br>
    <table class="table table-borderless">
        <tr>
            <td>
                <label>Antenna Root Cause</label>
            </td>
            <td>
                <div>
                    <select id="query-sid-antenna-root-cause" class="input-sm" " >                                            
                    <option selected='selected'></option>
                    <option>UDB</option>
                    <option>Ramsden</option>
                    <option>VSRM/X1</option>
                    <option>NGVCP</option>
                    <option>CDN</option>
                    <option>Cisco Pump RTSP</option>
                    <option>Content</option>
                    <option>Other</option>
                    <option>QAM Capacity Errors counted as Antennas</option>
                    <option>QAM Capacity Errors not counted as Antennas</option>
                    <option>Network Errors not counted as Antennas</option>
                    <option>Network Errors counted as Antennas</option>
                </select>
                </div>
            </td>            
        </tr>
        <tr>
            <td>
                <label>Outage Categories</label>
            </td>
            <td>
                <div>
                    <select id="query-sid-outage-categories" class="input-sm" >                                            
                    <option selected='selected'></option>
                    <option>VLQOK Errors</option>
                    <option>CM_CONNECT Errors</option>
                    <option>TUNE Errors</option>
                    <option>VCP Errors</option>
                    <option>Network Teardowns</option>
                    <option>CDN Setup Errors</option>                    
                    <option>Plant Errors</option>                    
                    <option>UDB Errors</option>                    
                </select>
                </div>
            </td>            
        </tr>
        <tr>

            <td>
                <label>Mitigated against future outages due to same stimulus? </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
            <td>                            
                <select id="query-sid-mitigate-check" class="input-sm" >                                            
                    <option selected='selected'>All</option>
                    <option>Yes</option>
                    <option>No</option>                    
                </select>
            </td>
            
        </tr>
        <tr>
            <td>
                <label>Hardened against future outages due to same architectural dependency? </label>&nbsp;&nbsp;
            </td>            
            <td>                                            
                <select id="query-sid-hardened-check" class="input-sm" >                                            
                    <option selected='selected'>All</option>
                    <option>Yes</option>
                    <option>No</option>                    
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>Quantity of Antenna errors = Tune Error</label>&nbsp;&nbsp;
            </td>            
            <td>                            
                <label><input type="input" id="query-sid-antenna-tune-error-s" value=""></label>
                and
                <label><input type="input" id="query-sid-antenna-tune-error-e" value=""></label>
            </td>
            
        </tr>
        <tr>
            <td>
                <label>Quantity of Antenna errors = Video Lost QAM OK</label>&nbsp;&nbsp;
            </td>            
            <td>                            
                <label><input type="input" id="query-sid-antenna-qam-error-s" value=""></label>
                and
                <label><input type="input" id="query-sid-antenna-qam-error-e" value=""></label>
            </td>
            
        </tr>
        <tr>
            <td>
                <label>Quantity of Antenna errors = Network Resource Failure</label>&nbsp;&nbsp;
            </td>            
            <td>                            
                <label><input type="input" id="query-sid-antenna-network-error-s" value=""></label>
                and
                <label><input type="input" id="query-sid-antenna-network-error-e" value=""></label>
            </td>
            
        </tr>
        <tr>
            <td>
                <label>Quantity of Antenna errors = Insufficient QAM Bandwidth </label>&nbsp;&nbsp;
            </td>            
            <td>                            
                <label><input type="input" id="query-sid-antenna-insuff-qam-error-s" value=""></label>
                and
                <label><input type="input" id="query-sid-antenna-insuff-qam-error-e" value=""></label>
            </td>
            
        </tr>
        <tr>
            <td>
                <label>Quantity of Antenna errors = CM Connect</label>&nbsp;&nbsp;
            </td>            
            <td>                            
                <label><input type="input" id="query-sid-antenna-cm-error-s" value=""></label>
                and
                <label><input type="input" id="query-sid-antenna-cm-error-e" value=""></label>
            </td>
            
        </tr>
        
    </table>

</div>
