
        <tr>
            <td>
                Antenna Root Cause
            </td>
            <td>
                <div>
                    <select id="dialog-sid-antenna-root-cause" class="input-sm" " >                                            
                    <option selected='selected'></option>
                    <option>UDB</option>
                    <option>Ramsden</option>
                    <option>VSRM/X1</option>
                    <option>NGVCP</option>
                    <option>CDN</option>
                    <option>Cisco Pump RTSP</option>
                    <option>Content</option>
                    <option>Other</option>
                    <option>QAM Capacity Errors counted as Antennas</option>
                    <option>QAM Capacity Errors not counted as Antennas</option>
                    <option>Network Errors not counted as Antennas</option>
                    <option>Network Errors counted as Antennas</option>
                </select>
                </div>
            </td>            
        </tr>
        <tr>
            <td>
                Outage Categories
            </td>
            <td>
                <div>
                    <select id="dialog-sid-outage-categories" class="input-sm" >                                            
                    <option selected='selected'></option>
                    <option>VLQOK Errors</option>
                    <option>CM_CONNECT Errors</option>
                    <option>TUNE Errors</option>
                    <option>VCP Errors</option>
                    <option>Network Teardowns</option>
                    <option>CDN Setup Errors</option>                    
                    <option>Plant Errors</option>                    
                    <option>UDB Errors</option>                    
                </select>
                </div>
            </td>            
        </tr>
        <tr>
            <td>
                Mitigated against future outages due to same stimulus? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
            <td>                            
                <select id="dialog-sid-mitigate-check" class="input-sm" >                                            
                    <option selected='selected'>All</option>
                    <option>Yes</option>
                    <option>No</option>                    
                </select>
            </td>
            
        </tr>
        <tr>
            <td>
                Hardened against future outages due to same architectural dependency? &nbsp;&nbsp;
            </td>            
            <td>                            
                <select id="dialog-sid-hardened-check" class="input-sm" >                                            
                    <option selected='selected'>All</option>
                    <option>Yes</option>
                    <option>No</option>                    
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Quantity of Antenna errors = Tune Error&nbsp;&nbsp;
            </td>            
            <td>                            
                <input type="input" id="dialog-sid-antenna-tune-error" value="">
            </td>
            
        </tr>
        <tr>
            <td>
                Quantity of Antenna errors = Video Lost QAM OK&nbsp;&nbsp;
            </td>            
            <td>                            
                <input type="input" id="dialog-sid-antenna-qam-error" value="">
            </td>
            
        </tr>
        <tr>
            <td>
                Quantity of Antenna errors = Network Resource Failure&nbsp;&nbsp;
            </td>            
            <td>                            
                <input type="input" id="dialog-sid-antenna-network-error" value="">
            </td>
            
        </tr>
        <tr>
            <td>
                Quantity of Antenna errors = Insufficient QAM Bandwidth &nbsp;&nbsp;
            </td>            
            <td>                            
                <input type="input" id="dialog-sid-antenna-insuff-qam-error" value="">
            </td>
            
        </tr>
        <tr>
            <td>
                Quantity of Antenna errors = CM Connect&nbsp;&nbsp;
            </td>            
            <td>                            
                <input type="input" id="dialog-sid-antenna-cm-error" value="">
            </td>
            
        </tr>
        
    
